.App {
  width: 50vw;
  margin: auto;
  text-align: center;
  background-color: seagreen;
  color: brown;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  width: fit-content;
  padding: 0.5vw;
  height: fit-content;
  background-color: brown;
  color: azure;
  border: none;
}

.add-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-group textarea {
  margin-top: 2vh;
  padding: 0 0 5px;
  width: 100%;
  /* height: ; */
  resize: none;
  border: none;
  background-color: burlywood;
}



.App ul {
  list-style: none;
  padding: 0;
}

.note-item {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: burlywood;
}

.note-item p {
  width: 90%;
  text-align: start;
  padding-left: 1vh;
}

